/* Header - font-family: 'Acme', sans-serif;
body - font-family: 'Open Sans Condensed', sans-serif; */

/* accent color -  background-color: rgb(238, 206, 238); */

header {
  font-family: 'Acme', sans-serif;
}

form {
  font-family: 'Open Sans Condensed', sans-serif;
}

#avatarImage {
  width: 20%;
}
