/* accent color -  background-color: rgb(238, 206, 238); */
* {
  box-sizing: border-box;
}

main {
  justify-content: center;
}

header {
  font-size: 2.5rem;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

.container {
  font-family: 'Open Sans Condensed', sans-serif;
}

input,
textarea,
#avatarImage {
  width: 100%;
}

label {
  line-height: 48px;
}

input {
  line-height: 42px;
}

.saveButton {
  text-align: right;
}
